<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibreriaDeClases.Properties.Settings.colegioConnectionString"
            connectionString="Data Source=LAPTOP-E47KVU06;Initial Catalog=colegio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LibreriaDeClases.Properties.Settings.ColegioConnectionString1"
            connectionString="Data Source=LAPTOP-E47KVU06;Initial Catalog=Colegio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>